@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
html, body {
    margin: 0;
}
body {
    margin: 0;
    background-color: #2C2F33;
    font-family: 'Open Sans';
    color: white;
}

h1 {
    margin: 0;
    font-weight: 600;
}

h2 {
    margin: 5px;
}

h2.light {
    font-weight: 400;
}

.nav {
    text-align: center;
    margin: 0;
}

hr.s1 {
    border: 1.7px solid white;
    max-width: 1050px;
    border-radius: 50px;
}

.internet {
    float: right;
    image-rendering: optimizeQuality;
}

.examples {
    float: right;
}

a {
    color: dodgerblue;
}